@font-face {
  font-family: 'Bluu';
  src: url("./fonts/BluuNextCyrillic.woff") format('woff');
}
@font-face {
  font-family: 'PicNic';
  src: url("./fonts/PicNic-Regular.woff") format('woff'), 
  url('./fonts/PicNic-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Resistance';
  src: url("./fonts/resistance_generale-webfont.woff") format('woff'), 
  url('./fonts/resistance_generale-webfont.woff2') format('woff2');
}
:root {
  font-family: 'Bluu';

  color: #181818;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  font-family: 'Bluu';
  line-height: 1;
}
